<template>
  <v-container>
    <v-row justify="center">
      <v-img max-width="350" src="@/assets/questions/vagmarken/varningsmarken/a12-1.png"></v-img>
    </v-row>

    <v-row justify="center">
      <p>Vad betyder vägmärket?</p>
    </v-row>

    <QuestionAnswerForm v-on:answer-form="answerForm" :answers="answers"></QuestionAnswerForm>
  </v-container>
</template>

<script lang="ts">
import BaseQuestion from '@/views/questions/BaseQuestion.ts'

export default BaseQuestion.extend({
  name: 'A12',

  data: () => ({
    answers: [
      {
        text: 'Varning för stenskott'
      },
      {
        text: 'Varning för skarp lutning'
      },
      {
        text: 'Varning för stenras',
        correct: true
      }
    ]
  })
})
</script>
