<template>
  <v-container>
    <v-row justify="center">
      <v-img max-width="350" src="@/assets/questions/vagmarken/varningsmarken/a7-1.png"></v-img>
    </v-row>

    <v-row justify="center">
      <p>Vad betyder vägmärket?</p>
    </v-row>

    <QuestionAnswerForm :answers="answers"></QuestionAnswerForm>
  </v-container>
</template>

<script lang="ts">
import BaseQuestion from '@/views/questions/BaseQuestion.ts'

export default BaseQuestion.extend({
  name: 'A7',

  data: () => ({
    answers: [
      {
        text: 'Varning for skarp lutning'
      },
      {
        text: 'Varning för ojämn väg'
      },
      {
        text: 'Varning för kaj',
        correct: true
      }
    ]
  })
})
</script>
