<template>
  <v-app>
    <AppBar></AppBar>

    <v-main id="main" :style="{background: $vuetify.theme.themes[theme].background}">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import AppBar from '@/components/AppBar.vue'
import VueApp from '@/App.vue'

export default VueApp.extend({
  name: 'Quiz',

  components: {
    AppBar
  }

})
</script>
