<template>
  <v-container>
    <h2 class="d-none d-lg-block font-weight-bold justify-center mb-6 mt-12 m-3">
      Välkommen till Bil-anarkistens körkortsteori
    </h2>

    <h3 class="d-lg-none justify-center mb-3 mt-12 m-2">
      Bil-anarkistens körkortsteori
    </h3>

    <p class="subheading font-weight-regular">
      Välj antal frågor och starta provet.
    </p>

    <StartQuizForm
      :maxQuestions="maxQuestions"
      v-on:start-quiz="startQuiz"></StartQuizForm>

  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'

import { START_QUIZ } from '@/store'
import StartQuizForm from '@/components/StartQuizForm.vue'
import { QuestionItem } from '@/types'

import DefaultRoute from '@/components/DefaultRoute.ts'

// Select random questions up to <number> and from Array <q> and return them
function randomItems (items: Array<QuestionItem>, max: number): Array<QuestionItem> {
  // Clone array first
  const clonedItems: Array<QuestionItem> = [...items]
  const randItems: Array<QuestionItem> = []
  let randIndex = 0

  for (let i = 0; i < max; i++) {
    randIndex = Math.floor(Math.random() * clonedItems.length)
    if (randIndex > -1) {
      randItems.push(...clonedItems.splice(randIndex, 1))
    } else {
      break
    }
  }

  return randItems
}

export default Vue.extend({
  name: 'StartQuiz',

  components: {
    StartQuizForm
  },

  data: () => ({
    maxQuestions: 30
  }),

  computed: {
    ...mapState([
      'quizStarted'
    ])
  },

  methods: {
    startQuiz (numberOfQuestions: number) {
      let questions: Array<QuestionItem> = []

      // Pull all the questions we have available in our pool of questions
      const ctx = require.context('@/views/questions', true, /questions.ts$/)
      const contexts = ctx.keys().map(key => ctx(key) as { questions: Array<QuestionItem> })
      for (const e of contexts) {
        questions = [...e.questions]
      }

      // Randomize the questions we pulled from the pool
      const randomQuestions = randomItems(questions, numberOfQuestions)

      // Add random quiz questions as child routes of 'Quiz'
      for (let i = 0; i < randomQuestions.length; i++) {
        this.$router.addRoute(
          'Quiz',
          {
            name: randomQuestions[i].name,
            path: `${i + 1}`,
            component: randomQuestions[i].component
          }
        )
      }

      // Add one final default route that redirects to first question
      this.$router.addRoute(
        'Quiz',
        {
          name: 'default-route',
          path: '/:pathMatch(.*)*',
          component: DefaultRoute
        }
      )

      // Add one final default route
      this.$store.dispatch(START_QUIZ, randomQuestions).then(() => {
        this.$router.push('/quiz/1')
      })
    }
  }
})
</script>
