<template>
  <v-app-bar
    app
    dense>

    <v-toolbar-title style="cursor: pointer" @click="$router.push('/')">Körkortsteori</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-tooltip v-if="!$vuetify.theme.dark" bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          color="dark"
          v-bind="attrs"
          v-on="on"
          @click="darkMode">
          <v-icon>mdi-moon-waxing-crescent</v-icon>
        </v-btn>
      </template>
      <span>Toggle dark mode</span>
    </v-tooltip>

    <v-tooltip v-else bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          color="yellow lighten"
          v-bind="attrs"
          v-on="on"
          @click="darkMode">
          <v-icon>mdi-white-balance-sunny</v-icon>
        </v-btn>
      </template>
      <span>Toggle light mode</span>
    </v-tooltip>

    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <a href="https://gitlab.com/stemid/bil.anark.ist.git">
          <v-btn
            icon
            color="orange darken"
            v-bind="attrs"
            v-on="on">
            <v-icon>mdi-gitlab</v-icon>
          </v-btn>
        </a>
      </template>
      <span>Gitlab repo</span>
    </v-tooltip>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'AppBar',

  methods: {
    darkMode () {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    }
  }
})
</script>
