<template>
  <v-form v-on:submit.prevent="$emit('answer-form', userAnswer)">
    <v-radio-group v-model="userAnswer" mandatory>
      <template v-slot:label>
        <div>Ditt svar</div>
      </template>
      <div v-for="answer in answers" :key="answer.index">
        <v-radio color="success" class="pa-1" :value="answer.index">
          <template v-slot:label>
            <div class="font-weight-bold">{{ answer.text }}</div>
          </template>
        </v-radio>
      </div>
    </v-radio-group>

    <v-btn color="primary" block class="mt-4" type="submit">Svara</v-btn>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { QuestionAnswer } from '@/types'

export default Vue.extend({
  name: 'QuestionAnswerForm',

  props: {
    answers: {
      type: Array as () => Array<QuestionAnswer>,
      required: true,
      default: () => []
    }
  },

  data: () => ({
    userAnswer: null
  })
})
</script>
