<template>
  <v-form
    v-on:submit="$emit('start-quiz', numberOfQuestions)">

    <v-slider
      v-model="numberOfQuestions"
      step="5"
      :max="maxQuestions"
      min="5"
      thumb-label
      ticks tick-size="5"
      large>
      <template v-slot:append>
        <v-text-field
          v-model="numberOfQuestions"
          class="d-none d-lg-block mt-0 pt-0"
          hide-details
          single-line
          type="number"
          style="width: 60px"></v-text-field>
      </template>
    </v-slider>
    <v-badge
      bordered
      color="green"
      overlap
      :content="numberOfQuestions">
      <v-btn
        color="primary"
        type="submit"
        x-large>Starta prov</v-btn>
    </v-badge>

  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'StartQuizForm',

  props: {
    maxQuestions: Number
  },

  data: () => ({
    numberOfQuestions: 10
  })
})
</script>
