<template>
  <v-app>
    <AppBar></AppBar>

    <v-main id="main" :style="{background: $vuetify.theme.themes[theme].background}">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import AppBar from '@/components/AppBar.vue'

export default Vue.extend({
  name: 'App',

  components: {
    AppBar
  },
  computed: {
    theme () {
      return (this.$vuetify.theme.dark) ? 'dark' : 'light'
    }
  }
})
</script>
